*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
}   
#scroll{
    width: 100%;
}
#main{
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
}

#loader{
    /* display: none; */
    /* position: fixed; */
    width: 100%;
    height: 100vh;
    background-color: #111;
    z-index: 9999;
    color: #fff;
   
}
#loader #topheading {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
}
#loader #topheading h5{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
}
#loader h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3vw;
}
.reveal .parent .child{
    display: block;

}

.child span{
    display: inline-block;
}
.reveal .parent{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.maz{
    color: #14CF93;
    font-weight: 100;
    font-family: "Mazius Review";
    font-style: italic;
}
#green{
    /* display: none; */
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0vh;
    z-index: 999;
    background-color: #14CF93;
}


#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw;
    width: 100%;
    height: 100px;
}
#nav a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #111;
}
#nav a .line{
    position: absolute;
    bottom: 0;
    display: inline-block;
    height: 1px;
    background-color: #000;
}

#line1{
    left: 0;
    width: 0%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    transition-delay: .1s;
}
#line2{
    right: 0;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#nav a:hover #line2{
    width: 0;
}
#nav a:hover #line1{
    width: 100%;
}

.row{
    margin-top: 2vw;
    color: #333;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6vw;
    line-height: 1.2;
    padding-right: 12vw;
}
.row h1{
    font-size: 12vw;
    font-weight: 600;
}
.row text{
    margin-top: 0vw;
}
.row h5{
    opacity: 0.6;
    font-size: 11px;
    font-weight: 500;
}
.row:nth-child(3){
    margin-top: 0;
}
.row svg{
    min-height: 9vw;
    margin: 0 2.5vw;
}

path , polyline{
    stroke: #14CF93;
}

#imagery{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7vw 7vw;
    /* background-color: yellow; */
    margin-top: 10vw;
}

#imgleft{
    width: 30%;
    height: auto;
    /* background-color: red; */
    color: #333;
}

#imgleft h1{
    font-weight: 600;
    font-size: 2.3vw;
    color: #333;
    letter-spacing: 1px;
}

#imgleft h1 span{
    color: #14CF93;
    font-family: "Mazius Review 20.09";
    font-style: italic;
    font-weight: 100;
}

#imgright{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    height: auto;
    width: 60%;
    height: 600px;
    /* background-color: yellow; */
}

.imgctnr{
    position: absolute;
    width: 27vw;
    height: 40vw;
    background-color: red;
    filter: grayscale();
    border-radius: 1vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    z-index: 99999;
}
.imgctnr:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.imgctnr:nth-child(1){
    transform: translate(-45%, -8%) rotate(-20deg);
    background-image: url(https://images.unsplash.com/photo-1671638990674-d75dda1d1342?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
}

.imgctnr:nth-child(2){
    transform: translate(-20%, 0%) rotate(-15deg);
    background-image: url(https://images.unsplash.com/photo-1671245905577-fbde10f1a19d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
    
}
.imgctnr:nth-child(3){
    transform: translate(15%, 10%) rotate(-5deg);
    background-image: url(https://images.unsplash.com/photo-1671750747942-e7dc10dd13b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
}
#work{
    padding-top: 150px;
    position: relative;
    width: 100%;
    min-height: 70vh;
    background-color: #f2f2f2;
    /* background-color: red; */
    
}

             
 .workrow{
    padding: 0 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workrow h1{
    font-size: 8vw;
    font-weight: 600;
    display: flex;
    align-items: baseline;
}
.minirow{
    font-size: 2vw;
    font-weight: 500;
    margin-left: 3vw;
}
.workrow h1 span{
    font-weight: 100;
    font-family: "Mazius Review";
    font-style: italic;
}
.o-ui-arrow{
    width: 5vw;
    transform: rotate(90deg);
}
.o-ui-arrow path{
    stroke: rgb(158,158, 158);
}

#images{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 6vw;
    position: relative;
    width: 100%;
    padding: 0 5vw;
    /* background-color: red; */
}
.cnt{
    border-radius: 50px;
    overflow: hidden;
}

.cnt img{
    width: 105%;
   
}

.cnt1{
    width: 55%;
}

.cnt2{
    width: 28%;
}

